export GPG_TTY="$(tty)"
export LANG=en_US.UTF-8

mkdir -p .nix-mix
mkdir -p .nix-hex

use flake

mix local.hex --force --if-missing
mix local.rebar --force --if-missing

# this allows mix to work on the local directory
export MIX_HOME=$PWD/.nix-mix
export HEX_HOME=$PWD/.nix-mix
export PATH=$MIX_HOME/:$HEX_HOME/:$PATH
# to not conflict with your host elixir
# version and supress warnings about standard
# libraries
export ERL_LIBS="$HEX_HOME/lib/erlang/lib"
export ERL_AFLAGS="-kernel shell_history enabled"
